.secondform {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    &__radio {
        margin-top: 3em;
        width: 90%;
    }
}

